html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	float: center;
}

@font-face{
    font-familY: "Overpass";
    src: url("../assets/overpass-regular.ttf");
}

/*Desktop*/
@charset "UTF-8";
@media (min-width: 1401px){
    
    
text/css styles.css ( ASCII C program text )

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	float: center;
}
    
/*------------------------------------TYPOGRAPHY--------------------------------------*/
    
/*font-family: 'Lato', sans-serif;*/
@font-face{
    font-familY: "Overpass";
    src: url("../assets/overpass-regular.ttf");
}
    
h1{
    font-size: 100pt;
    font-familY: "Overpass";
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
}
    
a{
    color: #ffffff;
    text-decoration: none;
}

nav{
    font-familY: "Overpass";
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    top: 0;
    width: 100%;
}

nav ul li {
    font-familY: "Overpass";
	list-style-type: none;
    display: inline-block;
	padding: 10px;
    color: #ffffff;
    margin: 0 auto;
}

nav ul li a{
    font-familY: "Overpass";
    color: #000000;
	font-size: 20pt;
	text-decoration: none;
    display: inline-block;
    color: #ffffff;
    text-shadow: 3px 3px 5px #333;
    filter: drop-shadow(color=#333, offx=1px, offy=1px);
}
/*------------------------------------SECTIONS--------------------------------------*/ 
section{
    height: 100vh;
}
    
#home{
    background-image: url("../images/bg.jpg");
}